<?xml version="1.0"?>

<launch>
    <include file="$(find mavros)/launch/px4.launch">
       <arg name="fcu_url" value="/dev/ttyTHS0:921600" />
    </include>
    <node pkg="fsm" type="single_offboard" name="single_offboard" output="screen">
       <param name="vrpn_topic" value="vrpn_client_node/UAV4/pose" />
    </node>

</launch>
